@font-face {
  font-family: "NexaText";
  font-weight: 300;
  font-style: normal;
  src:
    url("./fonts/NexaText-Book.woff") format("woff"),
    url("./fonts/NexaText-Book.woff2") format("woff2"),
    url("./fonts/NexaText-Book.eot") format("eot");
}

@font-face {
  font-family: "NexaText";
  font-weight: 300;
  font-style: italic;
  src:
    url("./fonts/NexaText-BookItalic.woff") format("woff"),
    url("./fonts/NexaText-BookItalic.woff2") format("woff2"),
    url("./fonts/NexaText-BookItalic.eot") format("eot");
}

@font-face {
  font-family: "NexaText";
  font-weight: 400;
  font-style: normal;
  src:
    url("./fonts/NexaText-Regular.woff") format("woff"),
    url("./fonts/NexaText-Regular.woff2") format("woff2"),
    url("./fonts/NexaText-Regular.eot") format("eot");
}

@font-face {
  font-family: "NexaText";
  font-weight: 400;
  font-style: italic;
  src:
    url("./fonts/NexaText-RegularItalic.woff") format("woff"),
    url("./fonts/NexaText-RegularItalic.woff2") format("woff2"),
    url("./fonts/NexaText-RegularItalic.eot") format("eot");
}

@font-face {
  font-family: "NexaText";
  font-weight: 700;
  font-style: normal;
  src:
    url("./fonts/NexaText-Bold.woff") format("woff"),
    url("./fonts/NexaText-Bold.woff2") format("woff2"),
    url("./fonts/NexaText-Bold.eot") format("eot");
}

@font-face {
  font-family: "NexaText";
  font-weight: 700;
  font-style: italic;
  src:
    url("./fonts/NexaText-BoldItalic.woff") format("woff"),
    url("./fonts/NexaText-BoldItalic.woff2") format("woff2"),
    url("./fonts/NexaText-BoldItalic.eot") format("eot");
}

@font-face {
  font-family: "NexaText";
  font-weight: 800;
  font-style: normal;
  src:
    url("./fonts/NexaText-ExtraBold.woff") format("woff"),
    url("./fonts/NexaText-ExtraBold.woff2") format("woff2"),
    url("./fonts/NexaText-ExtraBold.eot") format("eot");
}

@font-face {
  font-family: "NexaText";
  font-weight: 800;
  font-style: italic;
  src:
    url("./fonts/NexaText-ExtraBoldItalic.woff") format("woff"),
    url("./fonts/NexaText-ExtraBoldItalic.woff2") format("woff2"),
    url("./fonts/NexaText-ExtraBoldItalic.eot") format("eot");
}

@font-face {
  font-family: "Hack";
  src:
    url("./fonts/hack-regular-subset.woff2?sha=3114f1256") format("woff2"),
    url("./fonts/hack-regular-subset.woff?sha=3114f1256") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Hack";
  src:
    url("./fonts/hack-bold-subset.woff2?sha=3114f1256") format("woff2"),
    url("./fonts/hack-bold-subset.woff?sha=3114f1256") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Hack";
  src:
    url("./fonts/hack-italic-subset.woff2?sha=3114f1256") format("woff2"),
    url("./fonts/hack-italic-webfont.woff?sha=3114f1256") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Hack";
  src:
    url("./fonts/hack-bolditalic-subset.woff2?sha=3114f1256") format("woff2"),
    url("./fonts/hack-bolditalic-subset.woff?sha=3114f1256") format("woff");
  font-weight: 700;
  font-style: italic;
}
